
<template>
    <div class="add container">
        <h1 class="page-header">Add Customer</h1>
        <form @submit="addCustomer" class="form">
          <div class="well">
          <h4>Customer Info</h4>   
            <div class="form-group">
                <label for="First name">First Name</label>
                <input type="text" class="form-control" placeholder="First Name" v-model="fname">
            </div>
            <div class="form-group">
                <label for="First name">Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" v-model="lname">
            </div>
          </div>
          <div class="well">   
            <h4>Customer  Contact</h4>  
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" placeholder="Email" v-model="email">
            </div>
          </div>
          <div class="well">   
            <h4>Customer  Location</h4>  
            <div class="form-group">
                <label for="Address">Address</label>
                <input type="text" class="form-control" placeholder="Address" v-model="address">
            </div>
            <div class="form-group">
                <label for="City">City</label>
                <input type="text" class="form-control" placeholder="City" v-model="city">
            </div>
             <div class="form-group">
                <label for="State">State</label>
                <input type="text" class="form-control" placeholder="State" v-model="state">
            </div>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>

        </form>
    </div>
</template>

<script>
    export default {
      name: 'add',
      data: () => ({

      }),
      methods: {
        addCustomer (e) {
          e.preventDefault()
        }

      }
    
    }
</script>

<style>
.form {
    text-align: left;
    margin-bottom: 40px;
}

</style>

